.bodies {
    min-height: calc(997px + 100vh - 997px);
}

@media print {
    #printBtn {
        display: none;
    }

    #passageoftime {
        display: none;
    }
}

/* .dataTables_filter {
    text-align: start;
}

.dataTables_filter input { 
    width: 350px; 
} */